{% extends 'widgets/widget.html' %}

{% block widget %}
    <label for="password-cracking-guess">Guess</label>
    <input type="text" name="a" id="password-cracking-guess">
    <label for="password-cracking-lower">Lower Limit</label>
    <input type="number" name="b" id="password-cracking-lower">
    <label for="password-cracking-upper">Upper Limit</label>
    <input type="number" name="c" id="password-cracking-upper">
    <label for="password-cracking-correct">Correct</label>
    <input type="text" name="d" id="password-cracking-correct">
    <input type="submit" value="Compute Probability">
{% endblock %}

{% block fixed %}
    write(form, data + '%');
{% endblock %}